html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;

  background: white;
  font-size: 1.5rem;
}

main {
  color: #000;
  font-family: sans-serif;
}

#heading {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
}

.logo {
  height: 20em;
}

.heart:after {
  content: "❤️";

  font-size: 1em;
}

h1 + .subtitle {
  display: block;
  margin-top: -1em;
}

h1 {
    font-size: 1.8rem;
}

p {
    font-size: 1rem;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

code {
    
    display: block;
    font-size: .6em;
    width: 700px;
}

